@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  user-select: none;
  font-family: "Poppins", sans-serif;
  color: #464646;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  display: flex;
  /* background-color: #faf4ff; */
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: clamp(320px, 60vw, 800px);
  min-height: 60vh;
  max-height: 920px;

  display: flex;
  flex-direction: column;
  gap: 1.4rem;

  /* box-shadow: 0px 0px 8px #b3b3b3d4; */
  box-shadow: 0px 0px 5px 1px #c6c6c68a;
  border-radius: 0.3rem;

  padding: 1.4rem 1.5rem;
  background-color: white;
  /* backdrop-filter: blur(3px); */
}

.heading1 {
  width: 100%;
  text-align: center;
  font-size: 1.7rem;
  color: blueviolet;
}

button {
  padding: 0.2rem 0.8rem;
  outline: transparent;
  border: transparent;
  border-radius: 0.3rem;
}

.item-list {
  border: 1px solid #e3e3e3;
  border-radius: 0.2rem;
  overflow: auto;
  padding: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  flex: 1;
}

.add-todo__input {
  padding: 0.3rem;
  width: 100%;
  /* height: 2.5rem; */
  font-size: 0.9rem;
  border-radius: 0.2rem;
  outline: transparent;
  border: 1px solid #e3e3e3;
  background-color: #f7f7f7;
}

.add-todo__input:focus {
  border: 1px solid blueviolet;
}

.add-todo__btn {
  display: flex;
  font-size: 1rem;
  align-items: center;
  gap: 0.3rem;
  /* padding-inline-end: 1.3rem;
  padding-block: 0.5rem; */
  background-color: blueviolet;
  color: white;
}

.todo {
  display: flex;
  gap: 1rem;
  border: 1px solid #e5e5e5;
  border-radius: 0.3rem;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
}

.todo__info {
  display: flex;
  gap: 1rem;
  flex: 1;
}

.error-msg {
  color: rgb(190, 0, 0);
}

.add-todo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  padding: 1rem;
  border-radius: 0.3rem;
}

.add-todo__field {
  width: 100%;
}

.add-todo__radio-grp {
  display: flex;
  gap: 0.5rem;
}

.add-todo__radio-grp input {
  margin-inline: 0.5rem;
}

.action-icon {
  color: #6a6a6a;
  font-size: 1.3rem;
}

.action-icon:hover {
  transform: scale(1.2);
}
